apiVersion: 1

datasources:
- name: InfluxDB
  type: influxdb
  access: proxy
  orgId: 1
  url: http://influxdb:8086
  database: 'k6_result'
  user: '${INFLUXDB_ADMIN_USER}'
  secureJsonData:
    password: '${INFLUXDB_ADMIN_PASSWORD}'
  isDefault: true
  editable: true